asgiref==3.11.0
Django==6.0.1
django-cors-headers==4.9.0
djangorestframework==3.16.1
dnspython==2.8.0
gunicorn==23.0.0
mongoengine==0.29.1
packaging==25.0
pymongo==4.16.0
python-dotenv==1.2.1
sqlparse==0.5.5
